body {
    background-color: lightblue;
}
p[class^="im"] {
    text-align: center;
}
[class^="im"] img {
    width: 350px;
}
pre {background-color: lightgrey;}
.code-key {
    color: brown;
}
.code-str {
    color: green;
}
.code-fun {
    color: purple;
}